body {
    background-color: rgb(164, 164, 164);
}
.navbar-brand {
    padding: 0 10px 0 20px;
}
.nav-img-container {
    width: 25px;
    height: 25px;
    padding: 5px 10px;
    margin: 0 10px 0 10px;
}
.nav-img {
    width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 100%;
}
.upload-dropdown {
    width: 200px;
}

.settings-card {
    width: 1000px;
    max-width: 100%;
    padding: 0 20px 20px 20px;
    margin: 50px 0 10px 0;
    box-shadow: 0 0 20px black;
}
.account-img-container {
    width: 400px;
    max-width: 400px;
    height: auto;
    position: relative;
   
}
.account-img {
    width: 200px;
    max-width: 100%;
    height: 160px;
    max-height: 100%;
    object-fit: cover;
    border-radius: 100%;
    position: relative;
    
}

.post-card {
    min-width: 500px;
    max-width: 600px;
    margin: 20px;
    justify-content: center;
    position: relative;
}
.post-image {
    width: 100%;
    object-fit: contain;
    margin: 0 auto;
    padding: 0 auto;
}

.post-widget {
    width: 30px;
    height: 50px;
}

.caption {
    padding: 10px;

}