{% extends "base.html" %}
{% block title %}{{user_profile.user.username}}'s Profile{% endblock title %}
{% block content %}
<section class="">
    <div >
        <figure><img src="" alt=""></figure>
        <form action="/follow" method="POST">
            {% csrf_token %}
            <div class="button">
            <span style="color: white; font-size: 27px; margin-right: 520px;"><b><u><a href="/">@{{user_profile.user.username}}</a></u></b></span>
            
            {% if user_post_length == 0 %}
            <span style="color: white; font-size: 27px;"><b>No Post</b></span>
            {% elif user_post_length == 1 %}
            <span style="color: white; font-size: 27px;"><b>{{user_post_length}} Post</b></span>
            {% else %}
            <span style="color: white; font-size: 27px;"><b>{{user_post_length}} Posts</b></span>
            {% endif %}

            {% if user_followers == 1 %}
            <span style="color: white; font-size: 27px;"><b>{{user_followers}} Follower</b></span>
            {% else %}
            <span style="color: white; font-size: 27px;"><b>{{user_followers}} Followers</b></span>
            {% endif %}


            <span style="color: white; font-size: 27px;"><b>{{user_following}} Following</b></span>

            <input type="hidden" value="{{user.username}}" name="follower" />
            <input type="hidden" value="{{user_object.username}}" name="user" />
            
            {% if user_object.username == user.username %}
            <a href="{% url 'profile_settings' %" data-ripple="">Account Settings</a>
            {% else %}
            <a data-ripple=""><button type="submit" style="background-color: #ffc0cb; border: #ffc0cb;">{{button_text}}</button></a>
            {% endif %}

            </div>
        </form>


        <div class="container-fluid">
            <div class="row merged">
                <div class="col-lg-2 col-sm-3">
                    <div class="row my-3 p-3 account-img-container justify-content-center">
                        <img class="rounded-circle account-img" src="{{ user_profile.avatar.url }}" style="cursor: pointer;"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- top area -->
<section>
    <div class="bio">
            {{user_profile.bio}}
    </div>
</section>

<section class=" d-flex justify-content-center">
    <div class="justify-content-center">

        {% for post in user_posts %}
        <div class="card post-card justify-content-center">
            <div class="d-flex">
                <div class="caption">
                    <img src="{{user_profile.avatar.url}}" class="nav-img">
                    <span ><a href="/profile/{{post.user}}"> {{post.user}}</a></span>
                </div>
            </div>
            <div class="card-image post-image">
                <figure class="image is-square">
                    <a href="{{post.image}}">
                        {% if post.image %}
                        <img class="post-image" src="{{post.image.url}}" alt="" />
                        {% endif %}
                    </a>
                </figure>
            </div>
            <div class="d-flex justify-content-left row">
                <div class="d-flex col" >
                    <a href="/like-post?post_id={{post.id}}" style="text-decoration: none;">
                        <div class="d-flex" >
                            <h4>&#128077;</h4>
                                {% if post.no_of_likes == 0 %}
                                <p></p>
                                {% elif post.no_of_likes == 1 %}
                                <p>{{post.no_of_likes}} like</p>
                                {% else %}
                                <p>{{post.no_of_likes}} likes</p>
                                {% endif %}
                        </div>
                    </a>
                </div>
                <div class="d-flex col" style="padding-left: 10px;">
                    <a href="" class="d-flex justify-content-right col" download>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="25" height="25" preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16"><g fill="currentColor"><path d="M8.5 1.5A1.5 1.5 0 0 1 10 0h4a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h6c-.314.418-.5.937-.5 1.5v6h-2a.5.5 0 0 0-.354.854l2.5 2.5a.5.5 0 0 0 .708 0l2.5-2.5A.5.5 0 0 0 10.5 7.5h-2v-6z"/></g></svg>
                    </a>
                </div>
    
            </div>
            <div class="caption">
                <p ><b>{{post.user}}</b> {{post.caption}}</p>
            </div>

        </div>
        {% endfor %}
    </div>
</section>

{% endblock content %}